<p>contact works!</p>
<div class="grid grid-cols-1">
  <div class="">
    <label for="email" class="text-sm font-bold required">Email</label>
    <input aria-label="email" type="text" name="email" placeholder="email@gmail.com" [formControl]="emailForm"
      [ngClass]="{'!border-red-500': emailForm.hasError && emailForm.invalid && emailForm.touched}"
      class="w-[100%] mt-2 mb-1 p-2 border-blue-800 border-solid rounded-lg" />
    <small class="text-red-500 text-sm" *ngIf="emailForm.hasError && emailForm.invalid && emailForm.touched">
      {{ emailForm.hasError('required') ? "email is not avariable." : emailForm.hasError('pattern') ? " email is not
      format." : ""}}
    </small>
  </div>
  <pre class="mt-3">{{emailForm.errors|json}}</pre>
</div>

<style>
  .required:after {
    margin-left: 2px;
    content: "*";
    color: red;
  }
</style>
